{% extends base.html %}

{% block title %}Analyze web pages contents{% end title %}

{% block body %}
<p class="lead">Just write down a valid url and analyze its contents.</p>

<form id="analyze_form" method="POST" class="form-inline mt-2 mt-md-0">
    <input class="form-control mr-sm-4" type="text" value="https://www.bbc.com/news" name="url" placeholder="Url to analyze" />
    <button class="btn btn-lg btn-primary" type="submit" name="analyze">Analyze</button>
</form>

<br/><br/><br/>
<div id="loading" style="display: none;">
    Loading results...
</div>
<div id="error" style="display: none;">
</div>
<div id="display_results" style="display: none;">
    <div id="word_cloud">
        <h3 id="word_cloud_title">100 Most common words in <i></i></h3>
        <p></p>
    </div>

    <div id="result" style="max-width: 800px; word-break: break-all;">
    </div>
</div>

<script>
$(document).ready(function () {
    var button = $('button[name="analyze"]');
    var input = $('input[name="url"]');
    $("#analyze_form").submit(function(ev) {
        var url = input.val();
        ev.preventDefault();

        $.post('/', data=$(this).serialize())
        .done(function(data) {
            $("#result").html('<p>' + data['words'] + '</p>');

            $('#word_cloud_title i').text(url);
            $("#word_cloud p").html('<img src="' + data['word_cloud'] + '" />');

            $('#display_results').show();
            return false;
        }) 
        .fail(function(xhr) {
            $("#error").html(
                '<p>' + xhr.statusText + '</p>' +
                '<pre>' + xhr.responseText + '</pre>'
            );
            $("#error").show();
        })
        .always(function() {
            $('#loading').hide();
            button.prop('disabled', false);
            input.prop('disabled', false);
        });
        button.prop('disabled', true);
        input.prop('disabled', true);
        $('#display_results').hide();
        $('#loading').show();
        $("#error").hide();

        return false;
    });
});
</script>
{% end %}
