backports-abc==0.5        # via tornado
beautifulsoup4==4.6.0
certifi>=2017.4.17
lxml==4.2.3
mysqlclient==1.3.13
nltk==3.3.0
pillow==5.2.0             # via wordcloud
PyCryptodome
singledispatch==3.4.0.3   # via tornado
six==1.10.0               # via singledispatch
sqlalchemy==1.2.9
tornado==4.4.1
wheel==0.29.0
wordcloud==1.4.1